*.iml
.gradle
/local.properties
.idea/*
!.idea/dictionaries
.vscode
.classpath
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.project
org.eclipse.buildship.core.prefs
keystore.properties
.keys
keys.jks
docs/