*.iml
.gradle
/local.properties
.idea/*
!.idea/dictionaries
.vscode
.classpath
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.project
org.eclipse.buildship.core.prefs
keystore.properties
.keys
keys.jks
docs/
app/build/
app/release/
*/build/.transforms
*/build/intermediates
*/build/generated
*/build/kotlin
*/build/tmp
*/build/outputs
